@white: #fff;
@border: #EDEDED;
@red: #D82446;
@gray: #F5F5F5;
@gray-dark: #888;
@black: #333;

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: @white;
}

.wrapper { width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  float: left;
  margin-left: -10px;
  margin-right: -10px;
}

.column {
  float: left;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.view {
  float: left;
  width: 100%;
  position: relative;
  min-height: 400px;
  padding-bottom: 50px;
}
.item {
  float: left;
  width: 100%;
  padding: 10px;
  background-color: @white;
  border: 1px solid transparent;
  border-bottom-color: @border;
  //
  &:hover {
    background-color: @gray;
  }

  .face {
    float: left;
    width: 250px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
  }

  .caption {
    float: left;
  }

  .price {
    display: inline-block;
    margin: 5px 0;
    color: @red;
    font-weight: bold;
  }

  .size {
    color: @gray-dark;
  }
  .date {
    font-size: 0.8em;
    color: @gray-dark;
  }
}
.products {
  .view-grid {
    margin-left: -10px;
    margin-right: -10px;
    .column {
      width: 25%;
      margin-bottom: 20px;

      .item {
        height: 200px;
        position: relative;
        border-color: @border;
        &:hover {
          border-color: @border;
        }

        .face {
          width: 100%;
        }
        .caption {
          position: absolute;
          bottom: 10px;
        }
      }

      .lady-item {
        height: 200px;
        overflow: hidden;
        border-color: @border;
      }

      &:last-child {
        border-right-color: transparent;
      }
    }
  }
}


.message {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px 0;
  background-color: #ccc;
  text-align: center;

  &.show {
    display: block;
  }
}
.product-header {
  padding: 10px 0;
  border-bottom: 1px solid @border;
  height: 50px;
  margin-bottom: 20px;
  .product-sort {
    float: right;
    padding-top: 5px;
    margin-right: 30px;
    color: @gray-dark;

    a {
      text-decoration: none;
      margin: 0 5px;
      color: @gray-dark;

      &.active {
        color: @red;
      }
    }
  }

  .view-select {
    float: right;
  }
}

.btn-grid {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 30px;
  outline: none;
  border: none;
  background-color: @border;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 46%;
    background-color: @white;
  }
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    top: 45%;
    background-color: @white;
  }
}
.btn-list {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 30px;
  margin-left: 10px;
  outline: none;
  border: none;
  background-color: @border;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    top: 25%;
    background-color: @white;
  }
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    top: 63%;
    background-color: @white;
  }

  span {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 16%;
    background-color: @white;
  }
}

//ADS
.lady-item {
  float: left;
  width: 100%;
  text-align: center;
  background-color: @white;
  border: 1px solid transparent;
  border-bottom-color: @border;

  img {
    position: relative;
  }
}
